h1{
    color: blue;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 6px;
}

.container{
    background: wheat;
    margin-bottom: 24px;
    zoom: 1;
}

.container-75{
    width: 75%;
}

.container-50{
    width: 50%;
}

section, aside{ 
    background-color: green;
    color:azure;
    margin: 1.858%;
    padding: 20px 0;
    text-align:center;
}

.container, section, aside{
    border-radius: 25px;
}

section{
    float: left;
    width: 63.1%;
}

aside{
    float: right;
    width: 29.3%;
}

/*
.classe:pseudoclasse
*/
.container:before,
.container:after{
    content:"";
    display:table;
}

.container:after{
    clear: both;
}

.container:hover{
    cursor: pointer;
}